$text-color: #bad2ff;


.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .title{
        color: $text-color;
        font-size: 50px;
    }
    .logo{
        display: flex;
        justify-content: center;
        gap: 38px;
        img{
            width: 32px;
            height: 32px;
        }
    }
    .text{
        p{
            color: #fff;
            margin: 0;
            font-size:20px;
            &:nth-child(1){
                margin-top: 20px;
            }
            &:nth-child(2){
                font-weight: bold;
            }
        }
    }
}